@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
:root {
  --color-white: #f3f3f3;
  --color-darkblue: #724ef5;
  --color-darkblue-alpha: rgba(13, 138, 187, 0.8);
  --color-green: #21eb6a;
  --color-black: #000000;
  --color-maroon: #B06161;
  --color-grey: #B5C0D0;

}

.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;

}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(215deg, rgba(75, 113, 179, 0.8), rgba(124, 192, 147, 0.8)), url(./nationals.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#title {
  color: var(--color-maroon);
  font-weight: 600;
  font-size: 4rem;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 500;
  font-style: normal;
  

}

h1 {
  font-weight: 400;
  line-height: 1.2;
  font-style: protest;
}

h1,p {
  margin-top: 0;
  margin-bottom: 0.5rem;

}

label {
  display: flex;
  align-items: right;
  font-size: 0.%;
  

}

input,button,select,textarea {
  margin: 0;
  font-family: monospace;
  font-size: 20px;
  line-height: inherit;
  
}

.container{
  width: 100%;
  margin: 3.125rem auto 0 auto;
  padding: 1.8rem 1 rem;
}

.header{
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  text-align: center;

}

#description{
  font-style: italic;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  color:var(--color-black);
  
}

.clue {
  margin: left 0.25rem;
  font-size: 0.9rem;
  color: #e4e4e4;
}

#quest{
  color: rgb(241, 0191, 98);
  font-size: 1.5rem;
}

form {
  background: var(--color-darkblue-alpha);
  background-image: linear-gradient(rgb(67, 10, 93),rgb(114, 4, 85));
  margin: 10px;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  background-position: 0 0,10px 10px;
  border-radius: 21px 21px;
  box-shadow: 20px 10px 5px rgba(61, 74, 78, 0.361);
  font-family: "Kaushan Script", cursive;
  font-weight: 200;
  font-style: normal;
}

@media (min-width:480px) {
  form {
    padding: 10.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.formControl {
  display: block;
  width: 45%;
  height: 2.35rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 2.5px lightslategray;
  font-size: smaller;
}
.formControl :focus{
  border-color: blue;
  outline: 500;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
}
.inputRadio,.checkbox{
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
.textarea{
  width: 20%;
  padding: 0.75rem;
  font-size: 1.15rem;
  outline: none;
  border-color: blue;
  border-radius: 5px;
}

button {
  position: relative;
  padding: 0.75rem 5rem;
  background: hsl(0, 100%, 99%);
  font-size: 17px;
  font-weight: 500;
  color: #430A5D;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 5px 5px 2.5px lightslategray;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}


@media (min-width:576px){
  .container{
    max-width: 540px;

  }
}
@media (min-width:800px){
  .container{
    max-width: 760px;
  }

}
